*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
}
.nav-bar-mobile{
    display: none;
}
/* sharing style */
.color-FFFFFF{
    color: #FFFFFF;
}

.btn{
    background: linear-gradient(to top right,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn img{
    vertical-align: middle;
    margin-right: 4px;
}

.heading-and-paragraph{
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}
/* sharing style */

.nav-bar-desktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding: 30px;
    border-bottom: 1px solid #412567;
}

.menu{
    display: flex;
    gap: 32px;
}

.menu li{
    list-style: none;
    
}

.menu li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.nav-bar-desktop h1 .tech-logo{
    color: #FFFFFF;
}

#wave-logo{
    background:linear-gradient(to top,#F7E93F 0%,#FB09B4 51%,#9100F8 100%) ;
    background-clip: text;
    color: transparent;
}

.nav-bar-desktop h1{
    font-size: 2.5rem;
}

.hero{
    background-image:url("assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    margin: 101px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 34.36rem;
}
.hero-container-image{
    position: relative;
}
.hero-container-image #hero-circle{
    max-width: 21rem;
    position: relative;
    top: -2rem;
    transition: transform 2s;
}

#hero-circle img{
    width: 100%;
}
#microphone img{
    width: 100%;
}

.hero-container-image #microphone{
    max-width: 7.31rem;
    position: absolute;
    top: 2.5rem;
    left: 7rem;
    z-index: 5;
    transition: transform 2s;
}

.hero-container-image #new-notification{
    position: absolute;
    top: -20px;
    left: 250px;
}

#new-notification button{
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    background-color: #00FF88;
    font-size: 1.12rem;
    font-weight: 600;
}

.hero-container-image:hover #hero-circle,
.hero-container-image:hover #microphone {
    transform: rotate(180deg);
}

.hero-container .heading-and-paragraph h1{
    font-weight: 800;
    font-size: 3.75rem;
}

.hero-container .heading-and-paragraph p{
    margin-top: 8px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 1rem;
}

.hero-container .hero-buttons{
    display: flex;
    gap: 8px;
}

.hero-buttons #subscribe-button{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 1000px;
    padding: 12.5px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

#subscribe-button img{
    vertical-align: middle;
    margin-right: 8px;
}

.about-section{
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    margin-top: 50px;
    max-width: 75rem;
}

.about-container .heading-and-paragraph h1{
 font-size: 3rem;
 font-weight: 700;
 margin-bottom: 16px;
}

.about-container .heading-and-paragraph #paragraph-1{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 20px;
}

.about-container .heading-and-paragraph #paragraph-2{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
}

.about-card-container{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    padding-top: 80px;
    border-top: 1px solid #412567;
}

.about-card-container .about-card{
    max-width: 15rem;
    text-align: center;
}

.about-card h3{
 color: #00FF88;
 font-size: 3rem;
 font-weight: 600;
 margin-bottom: 16px;
}
.about-card p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}
/* for small device */
@media screen and (max-width:576px) {
    .nav-bar-desktop{
        display: none;
    }
    .nav-bar-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1A0B2E;
        padding: 30px;
        border-bottom: 1px solid #412567;
    }
    .hero{
        
    }
    .hero-container-image #hero-circle{
        top: -1rem;
    }
    .hero-container-image #microphone{
        top: 3.75rem;
        left: 7rem;
    }

    .hero-container-image #new-notification{
        top: -5px;
        left: 240px;
    }

    .about-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* grid-template-rows: repeat(2,1fr); */
    }
}