*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
}
.nav-bar-mobile{
    display: none;
}
/* sharing style */
.color-FFFFFF{
    color: #FFFFFF;
}

.btn{
    background: linear-gradient(to top right,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn img{
    vertical-align: middle;
    margin-right: 4px;
}

.heading-and-paragraph{
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

.heading{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 120px 0 40px;
}

.card-heading-and-paragraph{
    color: #FFFFFF;
} 

.card-heading-and-paragraph h4{
    font-size: 1.5rem;
    font-weight: 700;
}

.card-heading-and-paragraph p{
    font-size: 1rem;
    font-weight: 400;
}
/* sharing style */

.nav-bar-desktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding: 30px;
    border-bottom: 1px solid #412567;
}

.menu{
    display: flex;
    gap: 32px;
}

.menu li{
    list-style: none;
    
}

.menu li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.nav-bar-desktop h1 .tech-logo{
    color: #FFFFFF;
}

#wave-logo{
    background:linear-gradient(to top right,#F7E93F 0%,#FB09B4 51%,#9100F8 100%) ;
    background-clip: text;
    color: transparent;
}

.nav-bar-desktop h1{
    font-size: 2.5rem;
}

.hero{
    background-image:url("assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    margin: 101px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 34.36rem;
}
.hero-container-image{
    position: relative;
}
.hero-container-image #hero-circle{
    max-width: 21rem;
    position: relative;
    top: -2rem;
    transition: transform 2s;
}

#hero-circle img{
    width: 100%;
}
#microphone img{
    width: 100%;
}

.hero-container-image #microphone{
    max-width: 7.31rem;
    position: absolute;
    top: 2.5rem;
    left: 7rem;
    z-index: 5;
    transition: transform 2s;
}

.hero-container-image #new-notification{
    position: absolute;
    top: -20px;
    left: 250px;
}

#new-notification button{
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    background-color: #00FF88;
    font-size: 1.12rem;
    font-weight: 600;
}

.hero-container-image:hover #hero-circle,
.hero-container-image:hover #microphone {
    transform: rotate(180deg);
}

.hero-container .heading-and-paragraph h1{
    font-weight: 800;
    font-size: 3.75rem;
}

.hero-container .heading-and-paragraph p{
    margin-top: 8px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 1rem;
}

.hero-container .hero-buttons{
    display: flex;
    gap: 8px;
}

.hero-buttons #subscribe-button{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 1000px;
    padding: 12.5px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

#subscribe-button img{
    vertical-align: middle;
    margin-right: 8px;
}

.about-section{
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    margin-top: 50px;
    max-width: 75rem;
}

.about-container .heading-and-paragraph h1{
 font-size: 3rem;
 font-weight: 700;
 margin-bottom: 16px;
}

.about-container .heading-and-paragraph #paragraph-1{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 20px;
}

.about-container .heading-and-paragraph #paragraph-2{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
}

.about-card-container{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-top: 80px;
    border-top: 1px solid #412567;
    margin-bottom: 120px;
}

.about-card-container .about-card{
    max-width: 15rem;
    text-align: center;
}

.about-card h3{
 color: #00FF88;
 font-size: 3rem;
 font-weight: 600;
 margin-bottom: 16px;
}
.about-card p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}
.why-choose-section{
    background-color: #230E3D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.why-choose-section h1{
    margin: 120px 0 40px;
}

.Premium-Audio{
    grid-area: Premium-Audio;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 107px 40px;
}

.Mobile-Friendly{
    grid-area: Mobile-Friendly;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}

.Global-Community{
    grid-area: Global-Community;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}

.Exclusive-Interviews{
    grid-area: Exclusive-Interviews;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}

.Rich-Resources{
    grid-area: Rich-Resources;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}


.why-choose-section .why-choose-container{
    max-width: 75rem;
    margin-bottom: 120px;
    padding: 0 20px;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "Premium-Audio Mobile-Friendly Mobile-Friendly Mobile-Friendly Mobile-Friendly"
    "Premium-Audio Global-Community Global-Community Global-Community Global-Community"
    "Exclusive-Interviews Exclusive-Interviews Exclusive-Interviews Exclusive-Interviews Rich-Resources"
    "Exclusive-Interviews Exclusive-Interviews Exclusive-Interviews Exclusive-Interviews Rich-Resources";
}

.why-choose-container>*{
    border-radius: 40px;
    color: #FFFFFF;
}

.why-choose-container h4{
    margin: 16px 0;
}

.Featured-Episodes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A0B2E;
    flex-direction: column;
}

.Featured-Episodes-container{
    max-width: 75rem;
}

.Featured-Episodes-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 120px;
}

.Featured-Episodes-card{
    background-color: #230E3D;
    border-radius: 24px;
    max-width: 23.75rem;
}

.Featured-Episodes-card h4{
    margin: 24px 24px 12px;
}

.Featured-Episodes-card p{
    margin: 24px 24px 12px;
}

.Featured-Episodes-card iframe{
    max-width: 23.75rem;
    border-radius: 24px 24px 0 0;
}

.Featured-Episodes-card #time{
    color: #00FF88;
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 24px;
    gap: 6px;
}

/* for small device */
@media screen and (max-width:576px) {
    .nav-bar-desktop{
        display: none;
    }
    .nav-bar-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1A0B2E;
        padding: 30px;
        border-bottom: 1px solid #412567;
    }
    .hero{
        
    }
    .hero-container-image #hero-circle{
        top: -1rem;
    }
    .hero-container-image #microphone{
        top: 3.75rem;
        left: 7rem;
    }

    .hero-container-image #new-notification{
        top: -5px;
        left: 240px;
    }

    .about-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .why-choose-section .why-choose-container{
        
        grid-template-areas:
            "Premium-Audio" 
            "Mobile-Friendly"
            "Global-Community"
            "Exclusive-Interviews"
            "Rich-Resources";
    }

    .Featured-Episodes-card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
        padding: 0 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px){
    .Featured-Episodes-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}